.fourth_section_wrapper{
    display: flex;
    width: 100%;
    padding: 24px 0px;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}
.gen_section_wrapper{
    display: flex;
    width: 80%;
    gap: 30px;
}
.gen_section_wrapper div{
    display: flex;
    width: 100%;
    padding-bottom: 25px;
    flex-direction: column;
    gap: 30px;
}
.gen_section_wrapper div h3{
    color: var(--text-color, #252B42);
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
}
.gen_section_wrapper div p:nth-child(3){
    padding: 0px 0px 0px 15px;
    border-left: 3px solid #23856D;
    color: #737373;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.2px;
}
.gen_section_wrapper div p{
    color: #737373;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.2px;
}
.gen_section_wrapper img{
    max-width: 413px;
    max-height: 372px;
    border-radius: 5.386px;
    object-fit: cover;
}



@media screen and (max-width:1000px) {

    .fourth_section_wrapper{
        display: none;
    }

}