.firstsectionwrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 16px 30px;
    background: white;
}
.firstsectionwrapper div input:focus{
    outline: none;
}
