.sidebarwrapper{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0px;
    width: 260px;
    height: 100vh;
    background: var(--neutral-900, #171717);
    padding: 0px;
    position: sticky;
    top: 0;
    left: 0;
}
.sidebarwrapper ul li{
    color: var(--white, #FFF);
    font-size: 14px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}