.thirdsectionwrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 100px;
    padding: 80px 20px 80px 117px;
   align-items: center;
}
.thirdsectionwrapper h1{
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 300px;
}
.footerwrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.footermenuwrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.footermenuwrapper ul{
    display: flex;
    flex-direction: column;
    gap: 42px;
}
.footermenuwrapper ul li:first-child{
    color: #FFF;
    font-family: 'GraphikMedium';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footerwrapper ul li{
    color: black;
    font-family: 'GraphikMedium';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.socialswrapper{
    display: flex;
    flex-direction: column;
    gap: 33px;
    padding: 29px 20px;
    background: #36691C;
    min-width: 223px;
    max-width: 223px;
}
.socialswrapper p{
    color: #FFF;
    font-family: 'GraphikMedium';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.social p{
    color: #FFF;
    font-family: 'GraphikMedium';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.social div{
    width: 57px;
    height: 57px;
    background: black;
    border-radius: 50%;
}


@media screen and (max-width:1000px) {

    .thirdsectionwrapper{
        flex-direction: column;
        gap: 40px;
        padding: 60px 20px;
        
    }
    .thirdsectionwrapper h1{
        width: 100%;
        text-align: center;
    }

}

@media screen and (max-width:650px) {

    .footerwrapper{
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        align-items: center;
        width: 100%;  
    }
    .footermenuwrapper ul li:first-child{
        font-size: 16px;
    }
    .footerwrapper ul li{
        font-size: 16px;
    }

}